<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>how_to_login_with_did</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://cdn.bootcss.com/lodash.js/4.17.12-pre/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!--ela js库-->
    <script src="./js/elastos-wallet-api-min.js"></script>
    <!--二维码生成js库-->
    <script src="./js/vue-qrcode.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script>
        Vue.component(VueQrcode.name, VueQrcode);
        Vue.prototype.$verify = verify;
    </script>
</head>
<style type="text/css">
    .four {
        width: 220px;
        margin: 0 auto;
        text-align: center;
    }
    
    .four p {
        font-family: Bio Sans;
        font-size: 16px;
        margin-top: 30px;
        width: 220px;
        line-height: 44px;
        height: 44px;
        background: #0070C8;
        border-radius: 200px;
        color: #FFFFFF;
    }
</style>

<body>
    <div id="app">
        <div style="width:400px;margin: 0 auto" v-if="qrcode&&!isShow">
            <qrcode :value="qrcode" :options="{ width: 400 }" style="display:block"></qrcode>
            <div style="text-align: center">Please use elephant wallet to scan the QR code.</div>
        </div>
        <div style="text-align:center" v-if="isShow">{{returnContent}}</div>
        <div style="text-align:center" v-if="isShow">{{returncode}}</div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            loading: false,
            zh: {
                key9: '去登录',
                key10: '怎么授权登录',
            },
            en: {
                key9: 'go login',
                key10: 'how_to_login_with_did',
            },
            curLangule: {},
            schemeConfig: {
                "AppID": "7d80c7e800f5842b3b8e7ec7318189f66b7fd5b6db13bb80fbd89d2b1c444772c1d0202fea1e9cbabbf3258b3d91685484c02c2ae52d78ca39e2e54593ec81dd",
                "AppName": "Hackathon",
                "RandomNumber": "123456789",
                "DID": "iXzenTELVRDc712tmt2Qvbtk3KcAwV2tU8",
                "PublicKey": "032f6347b27401dc0bced2de0ab4531e62c496841cd8e67a58c572e3018dcb72d9",
                "CallbackUrl": "",
                "RequestInfo": "elaaddress,Email,Nickname"
            },
            qrcode: "",
            timer: "",
            returncode: "",
            returnContent: "",
            callbackUrl: "https://echo.elaphant.app/api/1/ela_echo/",
            isShow: false
        },
        methods: {
            getLanugle: function() {
                this.curLangule = this.en;
                this.curLanguleKey = 'en';
                var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();
                if (JsSrc.indexOf('zh') >= 0) {
                    // 假如浏览器语言是中文
                    this.curLanguleKey = 'zh';
                    this.curLangule = this.zh;
                } else if (JsSrc.indexOf('en') >= 0) {
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                } else {
                    // 假如浏览器语言是其它语言
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                }
            },
            goLogo() {
                //构建身份授权协议
                this.schemeConfig["RandomNumber"] = new Date().getTime().toString();
                var traceid = this.schemeConfig["RandomNumber"]; //唯一标识号
                //回调url拼接 参数分别是appid和唯一标识号
                this.schemeConfig["CallbackUrl"] = this.callbackUrl + this.schemeConfig["AppID"] + "/" + traceid;
                this.qrcode = this.buildIdentity(); //构建授权协议
                this.autoRequest(traceid); //自动获调信息 
            },
            autoRequest(traceid) {
                this.timer = setInterval(() => {
                    this.getCallback(this.schemeConfig["AppID"], traceid).then((res) => {
                        if (res.status === 200) {
                            if (res.data) {
                                var jsonData = JSON.parse(res.data);
                                var sign = jsonData.Sign;
                                var publicKey = JSON.parse(jsonData.Data).PublicKey;
                                var verified = this.$verify(jsonData.Data, sign, publicKey);
                                this.returnContent = "The returned info from elephant wallet:" + jsonData.Data;
                                this.returncode = "Verification status:" + verified;
                                this.isShow = true;
                                window.clearInterval(this.timer);
                            }
                        }

                    }).catch((error) => {
                        window.clearInterval(this.timer);
                    });
                }, 1000);
            },
            getCallback(appId, traceid) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: this.callbackUrl + appId + "/" + traceid,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });


                })
            },
            buildIdentity() {
                var url = "elaphant://identity?";
                _.forEach(this.schemeConfig, function(val, key, index) {
                    if (key === 'ReturnUrl' || key === 'CallbackUrl') {
                        val = encodeURIComponent(val);
                    }
                    url += key + '=' + val + '&';
                });

                return url.substring(0, url.length - 1);
            }
        },
        created: function() {
            this.getLanugle();
            this.goLogo();
        }
    });
</script>

</html>